@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.25, 1.25);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* HEADER */

.header {
    background-color: white;
    box-shadow: 0 0 10px rgba(212, 24, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    height: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 10px;
    margin-left: 20px;
}
.header .logo:hover {
    animation: rotate 1s ease infinite;
    filter: drop-shadow(0 0 0.5em #f403d0);
}
.header .header__container {
    max-width: 1100px;
    max-height: 100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.header .header__container .navbar .navbar__link {
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Sedgwick Ave Display', cursive; */
    font-weight: 700;
    font-size: 30px;
    color: rgb(212, 24, 190);
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
    text-decoration: none;
}
.header .cart-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(234, 128, 202, 0.496);
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
.header .cart-widget .cart-logo {
    height:2.5em;
}
.header .cart-widget .cart-counter {
    height: 1.5em;
    font-size: larger;
    font-weight: 700;
    color: black;
}

/* MAIN */

.main{

}

.main__container {
    width: auto;
    display: flex;
    max-width: auto;
}

.main__container__img {
    margin-top: 15px;
    margin-left: 130px;
    width: 80%;
}

.card {
    margin: 20px;
    background: rgba(234, 128, 202, 0.496);
    box-shadow: 0px 1px 10px rgba(234, 128, 202, 0.496);
    cursor: default;
    width: 100%;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(234, 128, 202, 0.496);
    transition: all .3s;
    transform: translateY(-3%);
}

.card__img {
    width: 391x;
    height: 260px;
}

.card__conteiner {
    padding: 15px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.card__conteiner h3 {
    color: rgb(212, 24, 190);
}

.button__img {
    width: 25px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 37, 133);
    box-shadow: 0 0 5px #1854af;
    text-align: center;
    width: 100%;     
    padding-bottom: 2px;
}
.footer .text {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .text .footer-text {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    padding-top: 5px; 
}
.footer .logos {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer .logos img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

