@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-360deg)
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.25, 1.25);
    }

    50% {
        transform: scale(1, 1);
    }

    75% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(1, 1);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header {
    background-color: white;
    box-shadow: 0 0 10px rgba(212, 24, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    height: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 10px;
    margin-left: 20px;
}

.header .logo:hover {
    animation: rotate 1s ease infinite;
    filter: drop-shadow(0 0 0.5em #f403d0);
}

.header .header__container {
    max-width: 1100px;
    max-height: 100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header .header__container .navbar .navbar__link {
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 30px;
    color: rgb(212, 24, 190);
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
    text-decoration: none;
}

.header .cart-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(234, 128, 202, 0.496);
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.header .cart-widget .cart-logo {
    height: 2.5em;
}

.header .cart-widget .cart-counter {
    height: 1.5em;
    font-size: larger;
    font-weight: 700;
    color: black;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner__img {
    width: 25%;
    height: 25%;
    margin: 50px;
}

.main__img {
    margin-top: 20px;
    margin-left: 120px;
    width: 1200px;
    border-radius: 8px;
}

.main__container {
    width: 100%;
    display: flex;
}

.card {
    margin: 30px;
    background: rgba(234, 128, 202, 0.496);
    box-shadow: 0px 1px 10px rgba(234, 128, 202, 0.496);
    cursor: default;
    width: 100%;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(234, 128, 202, 0.496);
    transition: all .3s;
    transform: translateY(-3%);
}

.card__img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.card__conteiner {
    padding: 15px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.card__conteiner h3 {
    color: rgb(212, 24, 190);
}

.a__img {
    width: 25px;
    background-color: transparent;
}

/* CATALOG */

.catalog {
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.content {
    width: 100%;
    transition: .5s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content .section-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content .section-cards .card {
    max-width: 210px;
    padding: 30px;
    height: 450px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s;
}

.content .section-cards .card img {
    width: 100%;
    margin: 30px 0;
}

.content .section-cards .card .description {
    color:rgb(212, 24, 190);
    font-weight: bold;
    font-size: 22px;
}

.content .section-cards .card .price {
    color:rgb(212, 24, 190);
    /* font-weight: bold; */
    font-size: 20px;
}

.content .section-cards .card .size {
    font-size: 12px;
}

.content .section-cards .card .stock-high {
    font-size: 15px;
}

.content .section-cards .card .stock-low {
    color:rgb(212, 24, 24);
    font-size: 15px;
}

.content .section-cards button {
    margin: -20px;
    width: 18%;
    height: 18%;
    padding: 0;
    border: none;
    background: none;
}

/* CONTACT */

.main__form {
    width: 1000px;
    background: rgba(234, 128, 202, 0.496);
    padding: 30px;
    margin: 60px 100px 60px 200px;
    border-radius: 8px;
    font-family: 'Architects Daughter', cursive;
    color: black;
    box-shadow: 5px 5px 20px rgba(234, 128, 202, 0.496);
}

.main__form h4 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgb(162, 37, 133);
    color: white;
    display: flex;
    justify-content: center;
}

.main__section {
    display: flex;
    font-size: 25px;
}

.section__form {
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
    font-family: 'Architects Daughter', cursive;
}

form ::placeholder {
    color: rgb(162, 37, 133);
    font-family: 'Architects Daughter', cursive;
}

.form--lastname {
    margin: 5px 0px 5px 0px;
}

.form--coment {
    margin-top: 5px;
}

.main__section img {
    width: 500px;
    height: 100%;
    border-radius: 8px;
    margin-left: 30px;
}

.section__bottom {
    display: flex;
    justify-content: flex-end;
}

.section--input {
    background-color: rgb(162, 37, 133);
    border: none;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px;
    margin: 2px;
}

/* CART */

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items__section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    margin: 20px;
}

.empty__cart {
    display: flex;
    flex-direction: column;
}

.not__empty__cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item__in__cart {
    margin: 25px;
}

.item__img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.payment__container {
    display: flex;
    flex-direction: row;
}

.total__count {
    display: flex;
    flex-direction: column;
}

.delivery__method {
    display: flex;
    flex-direction: column;
}

.delivery__method__option {
    display: flex;
    flex-direction: row;
}

.payment__method {
    display: flex;
    flex-direction: column;
}

.payment__method__option {
    display: flex;
    flex-direction: row;
}

.button__panel {
    display: flex;
    flex-direction: column;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 37, 133);
    box-shadow: 0 0 5px #1854af;
    text-align: center;
    width: 100%;
    padding-bottom: 2px;
}

.footer .text {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .text .footer-text {
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    padding-top: 5px;
}

.footer .logos {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .logos img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/*-------------------------------MEDIA QUERY-----------------------------*/
@media screen and (max-width: 1400px) {
    .main__img {
        margin-left: 115px;
        width: 1100px;
    }
}

@media screen and (max-width: 1300px) {
    .main__img {
        margin-left: 110px;
        width: 1050px;
        margin-top: 25px;
    }
    .main {
        height: 800px;
    }
    .card {
        margin: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .main__img {
        margin-left: 105px;
        width: 1000px;
    }
    .main__container {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .main__img {
        margin-left: 100px;
        width: 950px;
    }
    .main__container {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .main__img {
        margin-left: 60px;
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .main__img {
        margin-left: 30px;
        width: 850px;
    }
    .main__container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .main__img {
        margin-left: 85px;
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .main {
        height: 1200px;
    }
    .header .logo {
        height: 1.2em;
    }
    .header .header__container .navbar .navbar__link {
        font-size: 20px;
    }
    .header .cart-widget .cart-logo {
        height: 2em;
    }
    .header .cart-widget .cart-counter {
        height: 1em;
    }
    .main__container {
        display:inline;
    }
    .main__img {
        margin-left: 80px;
        width: 550px;
    }
    .card {
        width: 250px;
        margin-left: 220px;
    }
    .card__img {
        width: 250px;
        height: 100%;
    }

}

@media screen and (max-width: 600px) {
    .header .header__container .navbar .navbar__link {
        font-size: 15px;
    }
    .header .cart-widget .cart-logo {
        height: 1.6em;
    }
    .main__img {
        margin-left: 60px;
        width: 500px;
    }
    .card {
        margin-left: 180px;
    }
}

@media screen and (max-width: 500px) {
    .main__img {
        margin-left: 60px;
        width: 400px;
    }
    .card {
        width: 250px;
        margin-left: 160px;
    }
    .card {
        width: 200px;
    }
    .card__img {
        width: 200px;
        height: 100%;
    }
    .header .header__container .navbar {
        gap: 10px;
    }
}

@media screen and (max-width: 450px) {
    .header .header__container .navbar {
        gap: 1px;
    }
    .header .cart-widget .cart-counter {
        height: 0.8em;
        font-size: small;
    }
    .header .cart-widget .cart-logo {
        height: 1em;
    }
    .main__img {
        margin-left: 30px;
        width: 400px;
    }
    .card {
        margin-left: 120px;
    }
}

@media screen and (max-width: 400px) {
    .main__img {
        margin-left: 30px;
        width: 390px;
    }
    .card {
        margin-left: 120px;
    }
    .footer {
        width: 452px;
    }
}